*{
	margin:0;
	padding:0;
}
body{
	display:flex;
	font-family:Verdana;
	background: linear-gradient( rgba(20, 20 ,20 , .9), rgba(20, 20 ,20 , .9)),
	url("contentarkaplan.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
/* menu alanı */
.menu:hover{
	background: rgba(0,0,0,0.5);


}
.menu{
	opacity: 80%;

	width: 285px;
	
	height: 1000px;
}
.menu .solbilgi  img{
	height: 100px;
	width: 60%;
	margin-top: 20px;
	margin-left: 50px;

	border-radius: 10px;

}
.menu:hover .solbilgi  img{
	height: 100px;
	width: 60%;
	margin-top: 20px;
	margin-left: 50px;
	border-radius: 10px;
	content: url("fikrimol2.png");

}


.menu .solbilgi h3{
	color: #fff;
	font-size: 20px;
	margin-left: 52px;
	margin-top:20px;
	font-family: 'Averia Sans Libre';
}
.menu .solnav{
	margin-top: 70px;
}

.menu .solnav .baslik{
	margin-left: 15px;
}
.menu .solnav .baslik span{
	
	font-size: 25px;
	color: #b2b2b2;
	font-family: 'Averia Sans Libre';
}
.menu .solnav .solnavliste a:hover{
	background: #878585;
	border-radius: 10px;

}
.menu .solnav .liste{
	line-height: 2;
	display: block;
	padding: 15px 30px;
	color:#ffffff;
	border: 1px solid rgba(0,0,0,.125);
	font-family: 'Averia Sans Libre';


}
/* BASLIK ALANI */
.icerik{
	width: 100%;
	
	height: 1000px;
}
/* İCERİK ALANI */
.icerik .top{
	/*background: #d6d6d6;*/
	opacity: 80%;
	height: 100px;
}
.icerik .top .baslik{
	margin-top: 25px;
	margin-left: 50px;
}
.icerik .top .baslik span{
	color: #fff;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
}
.icerik .ortabaslik{
	margin-left: 50px;
}
.icerik .ortabaslik span{
	color: #fff;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
}
/* Ana icerik */
.icerik .ortaicerik{

	height: 76%;
	width: 95%;
	margin-left: 50px;
	margin-top: 30px;
}
.icerik .ortaicerik .anasayfabilgi{
	height: 500px;

	margin-top: 100px;
}

.icerik .ortaicerik .anasayfabilgi span{
	color: white;
	font-size: 30px;
	font-family: 'Averia Sans Libre';
}
/* Oyuncuyagore gore baslangıc*/
.icerik .ortaicerik #ogoresorgu{
	margin-left: 50px;
	margin-top:40px;


}
.icerik .ortaicerik #ogoresorgu span{
	color: white;
	font-size: 25px;
}
.icerik .ortaicerik #ogoresorgu input{
	height: 45px;
	width: 300px;
}
.icerik .ortaicerik #ogoresorgu button{
	height: 50px;
}


.icerik .ortaicerik .dashboardpiechart{
	width: 900px;
	height: 500px;
}
/* Oyuncuyagore gore bitiş*/

/*Y Gore*/

.icerik .ortaicerik .ygorecolumnchart{
	margin-top: 50px;
	height: 600px;
	width: 1200px;
}

/*top50 */
.icerik .ortaicerik .top50chart{

	height: 700px;
	width: 1500;
}
.icerik .ortaicerik .ortaanaicerik{
	display: inline-flex
}

.icerik .ortaicerik .ortaanaicerik .turlistesi{
	
	margin-left: 5px;
	margin-top: 50px;
	
	width: 350px;
}
.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste:hover{
	background: rgba(0,0,0,0.3);
	border-radius: 15px;

}

.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste{
	width: 290px;
	display: inline-flex;
}
.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste label{
	color: white;
}
.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste .ulilk{

	width: 100px;
	margin-top: 10px;
	margin-left:20px;
	line-height: 4;

}
.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste .ulikinci{

	width: 100px;
	margin-top: 10px;
	margin-left:50px;
	line-height: 4;

}
.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste li{
	font-family: 'Montserrat', sans-serif;

	color: #fff;
	display: inline-block;
	border: 2px solid transparent;
	border-radius: 0;
	width: 100px;
	cursor: pointer;
	transition: .2s all;
}
/*hover üzerine gelince olması gereken işlemler unutma*/
.icerik .ortaicerik .ortaanaicerik .turlistesi .turliste ul li:hover{
	background: -moz-linear-gradient(-45deg,#f84034 0,#f3167b,100%);
	background: -webkit-linear-gradient(-45deg,#f84034 0,#f3167b,100%);
	background: linear-gradient(135deg,#f84034 0,#f3167b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f84034', endColorstr='#f3167b', GradientType=1);
	border-radius: 15px;
}

/*FOOTER ALANI*/
.icerik .footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	padding:15px;
	align-items:center;
	text-align:center;
}
.icerik .footer span{
	font-size: 20px;
	color: white;
}



